<%- model_class = Calculation -%>
<div class="page-header">
  <h1><%=t '.title', :default => t("Расчеты") %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= "Название расчета" %></th>
      
      <th><%= "Действия" %></th>
    </tr>
  </thead>
 
  <tbody>
    <% @calculations.each do |calculation| %>
     <%if current_user.id==calculation.user_id%>
     
      <tr>
       
        <td><%= link_to calculation.name, calculation_path(calculation) %></td>
      
       
        <td>
          <%= link_to t('.edit', :default => t("Редактировать")),
                      edit_calculation_path(calculation), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("Удалить")),
                      calculation_path(calculation),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
<% end %>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("Новый")),
            new_calculation_path,
            :class => 'btn btn-primary' %>
       </br>   
        </br>    
 <%= link_to "назад", home_index_path%>