<div class="bs-docs-example">
            <div class="navbar">
              <div class="navbar-inner">
                <a class="brand" href="#">Расчет тягово-динамических характеристик автомобиля</a>
                <ul class="nav">
                  <li class="active"><a href="/">На главную</a></li>
                   <li><%= link_to "Создание расчета", new_calculation_path%></li>
                  <li><%= link_to "Список пользователей",users_index_path%></li>
                   <li><%= link_to "Список расчетов", calculations_path%></li>
                  <li  class="dropdown">
                   <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">Доплнительно <span class="caret"></span></button>
                     <ul class="dropdown-menu">
                      <li><a href="#">Информация(скоро)</a></li>
                      <li><a href="#">Литература(скоро)</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>


     

<%- model_class = Calculation -%>
 <div class="span9">
<div align="center", class="page-header ">
  <h1><%=t '.title', :default =>  "Новый расчет" %></h1>
</div>

<%= render :partial => 'form' %>
</div>
</br>

