<%- model_class = Calculation -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Исходные данные" %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= "Название схемы" %>:</strong></dt>
  <dd><%= @calculation.name %></dd>
  <dt><strong><%= "Полная масса автомобиля" %>:</strong></dt>
  <dd><%= @calculation.mass_avto %></dd>
  <dt><strong><%= "Колея автомобиля" %>:</strong></dt>
  <dd><%= @calculation.col_avto %></dd>
  <dt><strong><%= "Высота автомобиля"%>:</strong></dt>
  <dd><%= @calculation.height_avto %></dd>
  <dt><strong><%= "Коэфициент аэродинамического сопротивления" %>:</strong></dt>
  <dd><%= @calculation.k_air_sopr %></dd>
  <dt><strong><%=  "Ширина профиля шины" %>:</strong></dt>
  <dd><%= @calculation.shin_wide %></dd>
  <dt><strong><%= "Высота профиля шины" %>:</strong></dt>
  <dd><%= @calculation.shin_height %></dd>
  <dt><strong><%= "Посадочный диаметр" %>:</strong></dt>
  <dd><%= @calculation.sit_diam %></dd>
  <dt><strong><%="Максимальная мощность двигателя" %>:</strong></dt>
  <dd><%= @calculation.n_e_max %></dd>
  <dt><strong><%= "Максимальный момент двигателя" %>:</strong></dt>
  <dd><%= @calculation.m_e_max %></dd>
  <dt><strong><%= "Обороты двигателя при максимальной мощности" %>:</strong></dt>
  <dd><%= @calculation.n_N %></dd>
  <dt><strong><%= "Обороты двигателя при максимальном моменте" %>:</strong></dt>
  <dd><%= @calculation.n_m %></dd>
  <dt><strong><%= "Минимальные обороты двигателя" %>:</strong></dt>
  <dd><%= @calculation.n_min %></dd>
  <dt><strong><%= "Максимальные обороты двигателя" %>:</strong></dt>
  <dd><%= @calculation.n_k %></dd>
  <dt><strong><%= "Потери на навесное оборудование" %>:</strong></dt>
  <dd><%= @calculation.nu_b %></dd>
  <dt><strong><%= "К.П.Д. трансмиссии" %>:</strong></dt>
  <dd><%= @calculation.nu_t %></dd>
  <dt><strong><%= "Передадочное число главной передачи" %>:</strong></dt>
  <dd><%= @calculation.uo %></dd>
  <dt><strong><%= "Количество передач" %>:</strong></dt>
  <dd><%= @calculation.n %></dd>
  <dt><strong><%= "Передадочное число 1 передачи" %>:</strong></dt>
  <dd><%= @calculation.uk1 %></dd>
  <dt><strong><%= "Передадочное число 2 передачи"%>:</strong></dt>
  <dd><%= @calculation.uk2 %></dd>
  <dt><strong><%= "Передадочное число 3 передачи"%>:</strong></dt>
  <dd><%= @calculation.uk3 %></dd>
  <dt><strong><%=  "Передадочное число 4 передачи"%>:</strong></dt>
  <dd><%= @calculation.uk4 %></dd>
  <dt><strong><%= "Передадочное число 5 передачи" %>:</strong></dt>
  <dd><%= @calculation.uk5 %></dd>
  <dt><strong><%= "Передадочное число 6 передачи" %>:</strong></dt>
  <dd><%= @calculation.uk6 %></dd>
  <dt><strong><%= "Передадочное число 7 передачи" %>:</strong></dt>
  <dd><%= @calculation.uk7 %></dd>
  <dt><strong><%= "Передадочное число 8 передачи" %>:</strong></dt>
  <dd><%= @calculation.uk8 %></dd>
  <dt><strong><%= "Передадочное число 9 передачи" %>:</strong></dt>
  <dd><%= @calculation.uk9 %></dd>
  <dt><strong><%= "Передадочное число 10 передачи" %>:</strong></dt>
  <dd><%= @calculation.uk10 %></dd>
  <dt><strong><%= "Передадочное число 11 передачи" %>:</strong></dt>
  <dd><%= @calculation.uk11 %></dd>
  <dt><strong><%= "Передадочное число 12 передачи" %>:</strong></dt>
  <dd><%= @calculation.uk12 %></dd>
  <dt><strong><%=  "Передадочное число 13 передачи"%>:</strong></dt>
  <dd><%= @calculation.uk13 %></dd>
  <dt><strong><%=  "Передадочное число 14 передачи"%>:</strong></dt>
  <dd><%= @calculation.uk14 %></dd>
  <dt><strong><%= "Передадочное число 15 передачи" %>:</strong></dt>
  <dd><%= @calculation.uk15 %></dd>
  <dt><strong><%= "Коэфициент сопротивления дороги" %>:</strong></dt>
  <dd><%= @calculation.kroad %></dd>
</dl>

 <h1><%=t '.title', :default => "Расчеты" %></h1>

  <br/>
<dl class="dl-horizontal">
  <dt><strong><%= "Момент максимальной мощности (Mn)" %>:</strong></dt>
 <dd><%=mn=@calculation.n_e_max*1000.0/(@calculation.n_N*2*Math::PI/60.0)  %> Н*м</dd>
 <% x=(@calculation.n_m+0.0)/@calculation.n_N %>
 <% k=@calculation.m_e_max/mn %>
 <% c = (1-k)/(2*x-(x*x)-1)   %>  
<dt><strong><%= "Коэфициент а" %>:</strong></dt> 
<dd><%= a = k-c*x*x   %></dd>
<dt><strong><%= "Коэфициент b" %>:</strong></dt> 
<dd><%= b = 2*c*x   %></dd>
<dt><strong><%= "Коэфициент с" %>:</strong></dt> 
<dd><%= c   %></dd>

</dl>
 <br/>



<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              calculations_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_calculation_path(@calculation), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              calculation_path(@calculation),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
