<h2 align="center">Регистрация</h2>
<p align="center">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<p/>
  <%= devise_error_messages! %>

  <div align="center"><%= f.label "Почта" %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div align="center"><%= f.label "Пароль" %><br />
  <%= f.password_field :password %></div>

  <div align="center"><%= f.label "Подтверждение пароля" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div align="center"><%= f.submit "Зарегистрироваться" %></div>
<% end %>

<%= render "devise/shared/links" %>
