<% if user_signed_in? %>
   Вы зашли как
    <%= current_user.email %>.
     <p align="center">
     <%= link_to "Создание расчета", new_calculation_path%>
     <%= link_to "Список расчетов", calculations_path%>
     <%= link_to "Список пользователей",users_index_path%>
     </p>
      <%= link_to "Выход", destroy_user_session_path, :method => :delete %>
<% else %>

	<h1 align="center">Добро пожаловать!</h1>
	<p align="center">
    <%= link_to "Регистрация", new_user_registration_path %> или <%= link_to "Вход", new_user_session_path %>
	</p>    
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Collapsible Group Item #1
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Collapsible Group Item #2
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
          Anim pariatur cliche...
      </div>
    </div>
  </div>
</div>

    <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
    simple collapsible
    </button>
     
    <div id="demo" class="collapse in"> …asasasasasasasasassdfsdsdsd </div>

<% end %>
 <%= stylesheet_link_tag 'custom', :media => 'screen' %>