<% if user_signed_in? %>
   Вы зашли как
    <%= current_user.email %>.
     <p align="center">
     <%= link_to "Создание расчета", new_calculation_path%>
     <%= link_to "Список расчетов", calculations_path%>
     <%= link_to "Список пользователей",users_index_path%>
     </p>
      <%= link_to "Выход", destroy_user_session_path, :method => :delete %>
<% else %>

	<h1 align="center">Добро пожаловать!</h1>
	<p align="center">
    <%= link_to "Регистрация", new_user_registration_path %> или <%= link_to "Вход", new_user_session_path %>
	</p>    

<% end %>
 <%= stylesheet_link_tag 'custom', :media => 'screen' %>