     <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
         
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
           
          <!-- Be sure to leave the brand out there if you want it shown -->
          <a class="brand" href="#">Расчет тягово-динамических характеристик автомобиля</a>
           
          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse collapse">
          <!-- .nav, .navbar-search, .navbar-form, etc -->
          </div>
         
        </div>
      </div>
    </div>
<div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li class="nav-header">Войдите или зарегистрируйтесь</li>
          <li ><a href="/">На главную</a></li>
          <li><a href="/users/sign_in">Войти</a></li>
          <li><a href="/users/sign_up">Зарегистрироваться</a></li>
          <li><a href="#">Информация(скоро)</a></li>
          <li><a href="#">Литература(скоро)</a></li>
        </ul>
      </div>
       <div class="span9">
<h2 >Вход</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label "Почта" %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label "Пароль" %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me%> <%= f.label  "Запомнить меня" %></div>
  <% end -%>

  <div><%= f.submit "Войти" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>